@font-face {
  font-family: "iconfont"; /* Project id 2564955 */
  src: url('iconfont.woff2?t=1621843438759') format('woff2'),
       url('iconfont.woff?t=1621843438759') format('woff'),
       url('iconfont.ttf?t=1621843438759') format('truetype');
}

[class*="hm-icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hm-icon-eye:before {
  content: "\e7fd";
}

.hm-icon-warning:before {
  content: "\e601";
}

.hm-icon-arrow-down-bold:before {
  content: "\e602";
}

.hm-icon-time:before {
  content: "\e603";
}

.hm-icon-user:before {
  content: "\e604";
}

.hm-icon-arrow-right-bold:before {
  content: "\e605";
}

.hm-icon-arrow-left-bold:before {
  content: "\e606";
}

.hm-icon-close-bold:before {
  content: "\e607";
}

.hm-icon-success:before {
  content: "\e608";
}

.hm-icon-select:before {
  content: "\e609";
}

.hm-icon-share:before {
  content: "\e60a";
}

.hm-icon-sign-out:before {
  content: "\e60b";
}

.hm-icon-arrow-up-bold:before {
  content: "\e60c";
}

.hm-icon-help:before {
  content: "\e60d";
}

.hm-icon-notification:before {
  content: "\e60e";
}

.hm-icon-more:before {
  content: "\e60f";
}

.hm-icon-map:before {
  content: "\e610";
}

.hm-icon-loading:before {
  content: "\e611";
}

.hm-icon-elipsis:before {
  content: "\e612";
}

.hm-icon-good:before {
  content: "\e613";
}

.hm-icon-home:before {
  content: "\e614";
}

.hm-icon-search:before {
  content: "\e615";
}

.hm-icon-eye-hide:before {
  content: "\e616";
}

.hm-icon-error:before {
  content: "\e617";
}

.hm-icon-calendar:before {
  content: "\e618";
}

.hm-icon-comment:before {
  content: "\e619";
}

.hm-icon-link:before {
  content: "\e61a";
}

.hm-icon-add-circle:before {
  content: "\e61b";
}

.hm-icon-close:before {
  content: "\e61c";
}

.hm-icon-ashbin:before {
  content: "\e61d";
}

.hm-icon-chart-pie:before {
  content: "\e61e";
}

.hm-icon-fabulous:before {
  content: "\e61f";
}

.hm-icon-favorite:before {
  content: "\e620";
}

.hm-icon-data-view:before {
  content: "\e621";
}

.hm-icon-lock:before {
  content: "\e622";
}

